body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.pagina-principal {
    width: 100vw;
    height: 100vh;
    background-color: #948570;
    display: flex;
    justify-content: center;
    align-items: center;
}


.conteudo-site {
    width: 400px;
    height: 450px;
    background: rgba(22, 21, 21, 0.9);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.textosite{
    color: aquamarine;
    font-size: 30px;
}

#inputAltura , #inputPeso{
    width: 230px;
    height: 40px;
    display: flex;
    margin-bottom: 15px;
    border-radius: 6px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 8px;
}


#btn-calcular{
    width: 250px;
    height: 45px;
    font-size: 20px;
    font-family: arial;
    font-weight: bold;
    color: aquamarine;
    background-color: rgba(95, 95, 95, 0.952);
    border: none;
    border-radius: 6px;
}


#btn-calcular:hover{
    background-color: rgb(49, 49, 49);
}


#erroPeso{
    display: none;
    color: red;
    margin-bottom: 10px;  
}


#erroAltura{
    display: none;
    color: red;
    margin-bottom: 10px;
}